version: "2.1"

services:
  activemq:
    image: pandorasystems/activemq
    container_name: activemq
    ports:
      - "61616:61616"
      - "8181:8181"

  apix:
    image: pandorasystems/apix:0.2.3
    container_name: apix
    env_file: apix.env
    ports:
      - "8001:80"
      - "8081:8081"
      - "5011:5011"
    depends_on:
      - fcrepo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://apix/services//apix:load"]
      interval: 45s
      timeout: 20s
      retries: 10

  exts-oai:
    image: pandorasystems/exts-oai
    container_name: exts-oai
    ports:
      - "9104:9104"
      - "5008:5008"
    environment:
      - FCREPO_BASEURI=http://fcrepo:8080/fcrepo/rest
      - FUSEKI_BASEURI=http://fuseki:3030
    depends_on:
      apix:
        condition: service_healthy

  messaging:
    image: pandorasystems/messaging:4.8.4
    container_name: messaging
    env_file: apix.env
    ports:
      - "9080:9080"
    environment:
      - FCREPO_BASEURI=http://localhost:8080/fcrepo/rest
    depends_on:
      - fcrepo
    links:
      - fcrepo:localhost

  fcrepo:
    image: pandorasystems/fcrepo:4.8.0
    container_name: fcrepo
    environment:
      CATALINA_OPTS: -Dfcrepo.home=/mnt/fcrepo-data -Dfcrepo.spring.configuration=file:/etc/spring/fcrepo-config.xml
    ports:
      - "8080:8080"
    depends_on:
      - activemq
    volumes:
      - fcrepo-volume:/mnt/fcrepo-data

  fuseki:
    image: pandorasystems/fuseki:2.4.2
    container_name: fuseki
    ports:
      - "3030:3030"
    volumes:
      - fuseki-volume:/shared

volumes:
  fcrepo-volume:
   # driver_opts:
   #       type: none
   #       device: /mnt/pandora-data/fcrepo-data
   #       o: bind
  fuseki-volume:
   # driver_opts:
   #       type: none
   #       device: /mnt/pandora-data/fuseki
   #       o: bind